*{
    box-sizing: border-box;
}

body,
html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to right, #07e2ff4f, #41ffdf57), url(Blue-Wallpaper-22-1680x1050.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 100vh;
}

.navbar{
    font-size: 1rem;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    padding:1em 2em;
    align-items: center;
}


.main-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-toggle{
display: none;
}

@media (max-width: 760px) {
    .navbar-toggle{
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
        color: rgba(12, 12, 46, 0.801);
        justify-content: center;
        font-size: 1.5rem;
    }
    .main-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color:rgba(12, 12, 46, 0.438);
      justify-content: center;
      margin: 1em;
    }
    .main-nav li{
        display: flex;
        padding: .5em 1em;
    }
  }

.main-nav li{
    text-align: center;
    margin-left: 2em;
    font-size: 1rem;
    font-weight: 600;
}

.logo{
    display: inline-block;
    font-size: 2rem;
    margin-top: .5em;
    margin-left:1.5em;
    position: relative;
}

.logo,
.nav-links{
    text-decoration: none;
    color: rgba(246, 246, 252, 0.801);
}


header::after{
  content: "";
  clear: both;
  display: table;

}

.nav-links:active,
.nav-links:hover{
    text-decoration: none;
    padding-bottom: .5rem;
    color:rgba(1, 1, 29, 0.74);
    border-bottom: solid 1px rgba(1, 1, 29, 0.74);
}

/* Container for Modal Header + Modal Control */
.demo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
}

.modal-control{
    padding: .5rem;
    display: block;
    box-sizing:border-box;
    width: 100%;
}

/*The Modal*/
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    width: calc(50% - (2rem*2));
    height: auto;
    background: rgba(0, 0, 0, 0.548);
    box-shadow: 1px 1px 6px rgba(1, 1, 19, 0.7);
    padding: .5rem 1rem;
    border-radius: 1em;
    cursor: pointer;
}

.modal-header{
    color:rgba(195, 191, 240, 0.753);
    margin: .7rem 0;
    font-size: 1rem;
    padding-bottom: .2em;
    text-decoration: none;
    justify-content:center;
    display: inline-block;
}
.modal-header:hover,
.modal-header:active{
    color:rgba(1, 1, 29, 0.74);
    padding-bottom: .1em;
    border-bottom: solid 1px rgba(1, 1, 29, 0.74);
}


/* Full-width inputs */
input[type='text'], input[type='password'] {
    width: 100%;
    padding: .6em .5em;
    margin: .5em 0;
    display: inline-block;
    border: 1px solid rgba(18, 1, 59, 0.7);
    border-radius: .5rem;
    box-sizing: border-box;
    font-size: .9rem;
  }

.modal-input {
    box-sizing: border-box;
    resize: none;
    flex-direction: colume;
    color: rgba(250, 250, 250, 0.8);
    margin-top: .6rem;
    font-size: .9rem;
}

.modal-input input:focus{
    outline: none;
    background:rgba(249, 249, 252, 0.904);
    border-color: rgba(1, 1, 43, 0.6);
    resize: none;
}

.modal-actions{
    text-align: right;
    color:rgba(227, 226, 248, 0.7);
    
}

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(11, 7, 34, 0.19);
    z-index: 100;
}

.open{
    display: inline;
}

.form-el{
    font: inherit;
    box-sizing:border-box;
    width: 100%;
    padding: 1em;
}

/* Set a style for all buttons */
input[type='submit'] {
    display: block;
    background: rgba(148, 148, 150, 0.3);
    font-size: 1rem;
    font-weight: 600;
    color: rgba(1, 4, 44, 0.7);
    padding: .7em .7em;
    border: solid 2px rgba(0, 0, 24, 0.5);
    border-radius: .6em;
    cursor: pointer;
    width: 50%;
    margin:1rem auto;
    animation: blink 2s infinite;
  }

  @keyframes blink {
    0% {
        background-color: rgba(169, 169, 173, 0.10);
    }
    25% {
        background-color: rgba(169, 169, 173, 0.15);
    }
    50% {
        background-color: rgba(169, 169, 173, 0.20);
    }
    75% {
        background-color: rgba(169, 169, 173, 0.25);
    }
    100% {
        background-color: rgba(169, 169, 173, 0.30);
    }
}
  
  /* Add a hover effect for buttons */
  input[type='submit']:hover {
    background: rgba(15, 15, 24, 0.753);
    border: solid 2px rgba(162, 163, 175, 0.911);
    color: rgba(162, 163, 175, 0.911);
  }

  input[type='text'], 
  input[type='password'].error {
    border-color: #5f150ebe;
}

input[type='text'], 
input[type='password'].success {
    border-color: #4b9c52b0;
}
form small{
    display: block;
    font-weight: 500;
    color:rgba(247, 2, 2, 0.966);
    margin-bottom: .5rem;
}

/*The Modal for clients list*/
.clientsModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    width: 90%;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 6px rgba(1, 1, 19, 0.7);
    padding: .5rem 1rem;
    border-radius: 1em;
    cursor: pointer;
}

.clientList {
    color:rgba(195, 191, 240, 0.753);
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-weight: 600;
  }
  
  td, th {
    border: 1px solid #dddddda1;
    text-align: left;
    padding: .9rem;
  }
  
  tr:nth-child(even) {
    background-color: rgba(195, 191, 240, 0.418);
    color:rgba(4, 1, 43, 0.808)
  }